/* The side navigation menu */
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #343a40;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  /* Sidebar links */
  .sidebar a {
    display: block;
    color: rgb(243, 241, 241);
    padding: 16px;
    text-decoration: none;
  }
  
  /* Active/current link */
  .sidebar a.active {
    background-color:rgb(252, 195, 74);
    color: rgb(27, 27, 27);
  }
  
  /* Links on mouse-over */
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }

  /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    
  }
  
  /* On screens that are less than 700px wide, make the sidebar into a topbar */
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }

  .scroll {
    max-height: 800px;
    overflow-y: auto;
   }
   ::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

span {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  line-height: px;
  vertical-align: middle;

}
.border-left-dark {
  border-left: .25rem solid rgb(0, 0, 0)!important;
}

#grad12 {
  height: 100%;
  background-color: rgb(0, 0, 0); /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(146, 140, 150, 0.712));
}

#grad13 {
  height: 100%;
  background-color: rgb(0, 0, 0); /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.664),  rgb(87, 87, 87) );
}

.nav-left-sidebar {
  position: fixed;
  width: 264px;
  height: 100%;
  top: 60px;
  overflow: auto;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 28px 0px rgba(82, 63, 105, 0.13);
  box-shadow: 0px 0px 28px 0px rgba(82, 63, 105, 0.13);
  -webkit-transition: all 0.3s ease;
}

.nav-left-sidebar .nav-link[data-toggle="collapse"] {
  position: relative;
  display: flex;
  align-items: center;
}

.nav-left-sidebar .nav-link[data-toggle="collapse"]::after {
  display: inline-block;
  width: 0;
  height: 0;
  position: absolute;
  right: 20px;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

.nav-left-sidebar .nav-link[data-toggle="collapse"][aria-expanded="false"]:after {
  transform: rotate(-90deg);
}

.nav-left-sidebar .nav-link[data-toggle="collapse"]:after {
  transition: transform .35s ease, opacity .35s ease;
  opacity: .5;
}

.nav-left-sidebar .navbar-nav {
  width: 100%;
}

.nav-left-sidebar .navbar {
  position: relative;
  padding: 14px;
}

.nav-left-sidebar .navbar-nav .nav-item {}

.nav-left-sidebar .navbar-nav .nav-link {
  font-size: 14px;
  padding: 12px;
  /* margin-bottom: 2px; */
  color: #71789e;
  transition: 0.3s;
}

.nav-left-sidebar .nav-link i {
  font-size: 14px;
  margin-right: 9px;
  text-align: center;
  vertical-align: middle;
  line-height: 16px;
}

.nav-divider {
  padding: 10px 14px;
  line-height: 30px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 12px;
}

.nav-left-sidebar .submenu {
  padding-left: 12px;
  padding-right: 12px;
  /* margin-top: 5px; */
  background: #24274a;
}

.nav-left-sidebar .submenu .nav .nav-item .nav-link {
  font-size: 14px;
  padding: 6px 12px;
  transition: 0.3s;
}

.nav-left-sidebar .navbar-nav .nav-link:focus,
.nav-left-sidebar .navbar-nav .nav-link.active {
  background-color: #e2e2eb;
  color: #3d405c;
  border-radius: 2px;
}

.nav-left-sidebar .navbar-nav .nav-link:focus,
.nav-left-sidebar .navbar-nav .nav-link:hover {
  background-color: #e2e2eb;
  color: #3d405c;
  border-radius: 2px;
}

.nav-left-sidebar .submenu .nav .nav-item .nav-link:hover {
  color: #3d405c;
  border-radius: 2px;
  background-color: transparent;
}

.nav-left-sidebar .navbar-toggler {
  background-color: #fff;
}
.navbar-toggler {
  padding: .25rem 0.5rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: .25rem;
}

.dashboard-main-wrapper {
  min-height: 100%;
  padding-top: 60px;
  position: relative;
}

.dashboard-wrapper {
  position: relative;
  left: 0;
  margin-left: 264px;
  min-height: 870px !important;
}

.dashboard-content {
  padding: 30px 30px 60px 30px;
}

.dashboard-header {}

.dashboard-header .navbar {
    padding: 0px;
    border-bottom: 1px solid #e6e6f2;
    -webkit-box-shadow: 0px 0px 28px 0px rgba(82, 63, 105, 0.13);
    box-shadow: 0px 0px 28px 0px rgba(82, 63, 105, 0.13);
    -webkit-transition: all 0.3s ease;
    min-height: 60px;
}

.page-header {
  margin-bottom: 30px;
}

.navbar-brand {
  display: inline-block;
  margin-right: 1rem;
  line-height: inherit;
  white-space: nowrap;
  padding: 11px 20px;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
  color: #007bff;
}
.navbar-brand:hover{
  color: #007bff;
}

.pageheader-title {
  font-size: 24px;
  margin-bottom: 8px;
}

.pageheader-text {
  margin-bottom: 14px;
  display: none;
}


.page-breadcrumb {}

.page-breadcrumb .breadcrumb {}

.page-breadcrumb .breadcrumb-item {}

.page-breadcrumb .breadcrumb-link {
    color: #a6a6b7;
}

.page-breadcrumb .breadcrumb-link:hover {
    color: #5969ff;
}

.page-breadcrumb .breadcrumb {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0px;
    margin-bottom: 0px;
    list-style: none;
    background-color: transparent;
    border-radius: 0px;
    border-top: 1px solid #e0e4ef;
    padding-top: 10px;
    font-size: 12px;
}

.page-breadcrumb .breadcrumb .breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: .5rem;
    color: #b1b1c0;
    content: "\f105";
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 600;
}

.page-breadcrumb .breadcrumb-item.active {
    color: #71728e;
}



.sidebar-dark {
  background-color: #0e0c28;
  -webkit-box-shadow: 0px 0px 28px 0px rgba(82, 63, 105, 0.13);
  box-shadow: 0px 0px 28px 0px rgba(82, 63, 105, 0.13);
  -webkit-transition: all 0.3s ease;
}

.sidebar-dark .nav-divider {
  color: #a4aadb;
  font-size: 12px;
  letter-spacing: 1px;
}

.sidebar-dark.nav-left-sidebar .nav-link i {
  color: #7a80b4;
}

.sidebar-dark.nav-left-sidebar .navbar-nav .nav-item {}

.sidebar-dark.nav-left-sidebar .navbar-nav .nav-link {
  color: #7a80b4;
}

.sidebar-dark.nav-left-sidebar .navbar-nav .nav-link:focus,
.sidebar-dark.nav-left-sidebar .navbar-nav .nav-link:hover {
  color: #fff;
  background-color: #242849;
  border-radius: 2px;
}

.sidebar-dark.nav-left-sidebar .navbar-nav .nav-link:focus,
.sidebar-dark.nav-left-sidebar .navbar-nav .nav-link.active {
  background-color: #242849;
  color: #fff;
  border-radius: 2px;
}

.sidebar-dark.nav-left-sidebar .submenu .nav .nav-item .nav-link:hover {
  color: #fff;
  border-radius: 2px;
  background-color: #242849;
}

.sidebar-dark.nav-left-sidebar .navbar-nav .nav-item .badge{
  position: absolute;
  right: 40px;
  display: none;
}

.navigation-horizontal .nav-link[data-toggle="collapse"] {
  position: relative;
  display: flex;
  align-items: center;
}

.navigation-horizontal .nav-link[data-toggle="collapse"]::after {
  display: inline-block;
  width: 0;
  height: 0;
  position: absolute;
  right: 8px;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

.navigation-horizontal .nav-link[data-toggle="collapse"][aria-expanded="false"]:after {
  transform: rotate(-90deg);
}

.navigation-horizontal .nav-link[data-toggle="collapse"]:after {
  transition: transform .35s ease, opacity .35s ease;
  opacity: .5;
}

.aside-nav.collapse {
  display: none;
}
.sidebar-primary.nav-left-sidebar .submenu .nav .nav-item .nav-link:hover {
  color: #fff;
  border-radius: 2px;
  background-color: transparent;
}


.navigation-horizontal {

  width: 100%;
  height: 100%;

  overflow: auto;
 /* background-color: #fff;
  -webkit-box-shadow: 0px 0px 28px 0px rgba(82, 63, 105, 0.13);
  box-shadow: 0px 0px 28px 0px rgba(82, 63, 105, 0.13);
  -webkit-transition: all 0.3s ease;*/
}



.navigation-horizontal .navbar-nav {
  width: 100%;
}

.navigation-horizontal .navbar {
  position: relative;
  padding: 0px;
}

.navigation-horizontal .navbar-nav .nav-item {}

.navigation-horizontal .navbar-nav .nav-link {
 font-size: 13px;
  padding: 9px 30px 9px 20px;
  margin-bottom: 2px;
  color: #71789e;
  transition: 0.3s;
  margin: 6px 1px;
}

.navigation-horizontal .nav-link i {
  font-size: 14px;
  margin-right: 9px;
  text-align: center;
  vertical-align: middle;
  line-height: 16px;
}

.nav-divider {
  padding: 10px 14px;
  line-height: 30px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 12px;
}

.navigation-horizontal .submenu {
     background-color: #e2e2eb;
  margin-top: -6px;
  margin-right: 1px;
  margin-left: 1px;
}

.navigation-horizontal .submenu .nav .nav-item .nav-link {
  font-size: 12px;
  padding: 0px 12px;
  transition: 0.3s;
  line-height: 1;
}

.navigation-horizontal .navbar-nav .nav-link:focus,
.navigation-horizontal .navbar-nav .nav-link.active {
  background-color: #e2e2eb;
  color: #3d405c;
  border-radius: 2px;
}

.navigation-horizontal .navbar-nav .nav-link:focus,
.navigation-horizontal .navbar-nav .nav-link:hover {
  background-color: #e2e2eb;
  color: #3d405c;
  border-radius: 2px;
}

.navigation-horizontal .submenu .nav .nav-item .nav-link:hover {
  color: #3d405c;
  border-radius: 2px;
  background-color: transparent;
}



.overlay-panel {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 20px;
  color: #fff;
}


#map { height: 380px; 
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
